.model_hover:hover > img {
  transform: scale(1.05);
  transition: all linear 0.2s;
}

.model_hover > img {
  transition: all linear 0.4s;
}

@media only screen and (max-width: 500px) {
  .stop_motion {
    display: none;
  }
  .designer_detail {
    width: 100% !important;
  }
  .designer_avatar {
    width: 5rem !important;
    height: 5rem !important;
  }
}
